@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

@font-face {
    font-family: 'TAN';
    src: url('/static/font/TAN-NIMBUS.woff2') format('woff2'),
        url('/static/font/TAN-NIMBUS.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: rgb(15, 15, 15);
    font-family: 'Lexend', serif;
    margin: 0;
    padding: 20px;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    padding: 20px;
    background-color: #1b1b1b;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

#SP {
    background-image: url("/static/Images/background.png");
    background-color: #0F0F0F;

}

.newsletter {
    font-family: "TAN";
    width: 100%;
    max-width: 600px;
    padding: 20px;
    text-align: left;
    border-radius: 20px;
    background-color: rgb(15, 15, 15);
}


h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    text-align: left;
    color: #F6E7D8;
    font-family: "TAN";
}

form {
    display: flex;
    flex-direction: column;
}

input[type="email"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    height: 80px;
    font-size: 50px;
    outline: none;
    font-family: "TAN";
}

button {
    padding: 20px;
    background-color: #1b1b1b;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 20%;
    box-sizing: border-box;
    font-family: "TAN";
}

button:hover {
    background-color: #0056b3;
}


.enter{
    height: 40px;
    font-size: 20px;
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    .container {
        padding: 15px;
    }

    h1 {
        font-size: 20px;
    }

    input[type="email"],
    button {
        font-size: 16px;
    }

    .intro h1 {
        font-size: 2rem;
        width: 100%;
    }

    .logo {
        width: 100px;
    }

    .desc {
        width: 100%;
        font-size: 12px;
    }

    .gif1 img {
        width: 10%;
    }

    .links li {
        font-family: "TAN";
        font-size: 1rem;
        margin: 0;
        margin-right: 40px;
        /* Add some spacing between items */
    }

    li {
        padding: 10px;
        border-radius: 20%;
        background-color: #ffb184;
        cursor: pointer;
        color: white;
    }
}

#message{
    font-size: 20px;
    color: #ffb184;
    text-align: center;
}