<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='Images/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/secrethash.css') }}">
    <title>Sneak Peek Internal</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function secretFunction(event) {
            event.preventDefault(); // Prevent the default form submission

            // Gather form data
            var username = $('#email').val();
            var password = $('#pass').val();

            // Make an AJAX POST request
            $.ajax({
                url: '/secrethashreading',
                type: 'POST',
                data: {
                    username: username,
                    password: password
                },
                success: function (response) {
                    $('#message').text(response.message);
                },
                error: function (xhr) {
                    $('#message').text(xhr.responseJSON.message);
                }
            });
        }
    </script>
</head>

<body>
    <h1>Sneak Peek Internal</h1>
    <div class="container" id="SP">
        <div class="newsletter">
            <h1 class="tag">Refresh Server</h1>
            <form onsubmit="secretFunction(event)">
                <input type="text" id="email" name="username" required class="enter">
                <br>
                <input type="password" id="pass" name="password" required class="enter">
                <button type="submit">Trigger</button>
            </form>
            <div id="message"></div>
        </div>
    </div>
</body>

</html>